{{#partial "content"}}
    <h1>ANIMALS SPOTTED IN THE AREA</h1>
    {{#if animal}}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">NAME</th>
                    <th scope="col">SPECIES</th>
                    <th scope="col">LOCATIONID</th>
                    <th scope="col">DELETE</th>
                </tr>
            </thead>
            <tbody>
        {{#each animal }}
                <tr>
                    <th scope="row">{{id}}</th>
                    <td>{{name}}</td>
                    <td>{{species}}</td>
                    <td>{{locationId}}</td>
                    <td>
                        <form action="/animals/{{id}}/delete" method="get" id="form1">
                            <button type="submit" class="btn btn-primary">Delete Animal</button>
                        </form>
                    </td>
                </tr>
        {{/each}}
            </tbody>

        </table>
    {{else}}
    {{/if}}
{{/partial}}

{{> layout.hbs}}